.navbar {
  background-color: transparent;
  border: none !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #484848 !important;
  background-color: transparent;
  font-size: 11.5px;
}

.navbar-default .navbar-nav > li > a {
  color: #808080 !important;
  font-size: 11.5px;
  border: none !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

#social-nav-item {
	font-size: 13.5px;
}

#banniere {
	font-size: 35px;
	text-align: center;
	font-family: 'Homemade Apple', cursive;
}